<div class="hero" style="background-image: url(..{{page.hero.image}});">
  <div style="height: 100%; background-color: rgba(0,0,0,0.4);">
    <div
      class="hero-container flex-column d-flex h-100 mx-auto align-content-center justify-content-center"
    >
      <div class="hero-text px-3">
        <div class="hero-heading d-flex justify-content-center">
          <span> {{ page.hero.heading | markdownify }} </span>
        </div>
        <div class="hero-subheading d-flex justify-content-center">
          <span>{{ page.hero.subheading }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
