<nav class="navbar navbar-light fixed-top navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{base}}/images/logo-goodbros.png" alt="GoodBros Logo" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.menu.navs %}
        <li class="nav-item">
          <a
            class="nav-link {% if item.url == page.url %}active{% endif %}"
            href="{{ item.url }}"
            alt="{{ item.title }}"
            >{{ item.title }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
